<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Mental Health Prediction App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <a href="/" style="text-decoration:none;color:white;">Home</a>
            </div>
            <div class="app-name">Student Mental Health Prediction App</div>
            <nav>
                <ul>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/signup">Sign Up</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <section class="hero">
        <div class="hero-content">
            <h1>Predicting Student Anxiety and Depression</h1>
            <p>Utilizing AI-powered models to assess and predict mental health risks, helping students achieve emotional well-being.</p>
        </div>
    </section>

    <footer>

    </footer>
</body>
</html>
